<%- include("partials/header") %>
    <div class="table-container">
      <h2 class="todo-title">Delete todo</h2>
      <a class="btn" href="/">Back</a>

      <div class="confirm">
        <p>
          Are you sure you want delete this todo?
          <a class="btn" href="/confirm-delete?id=<%= id %>&confirm=yes">Yes</a>
          <a class="btn" href="/confirm-delete?id=<%= id %>&confirm=no">No</a>
        </p>
      </div>
    </div>
<%- include("partials/footer") %>
