.table-container {
  border: 1px solid #bbb;
  width: 70%;
  margin: 0 auto;
  padding: 0px 30px 30px 30px;
  border-radius: 10px;
}
.todo-title {
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.btn {
  border: 1px solid #bbb;
  padding: 4px 10px;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
}

.btn:hover {
  background-color: #ccc;
  color: #555;
  cursor: pointer;
}

.new-todo,
.update-todo {
  max-width: 786px;
  margin: auto;
}

.form-group,
.new-todo .form-group,
.update-todo .form-group {
  margin: 0.4em 0;
}

.form-group input[type="text"],
.new-todo .form-group input[type="text"],
.update-todo .form-group input[type="text"] {
  width: 100%;
  padding: 0.6em 1em;
  margin: 0.5em 0;
  border: 1px solid #aaa;
  font-family: "Barlow", sans-serif;
  font-size: 1em;
  border-radius: 0.2em;
}

.confirm {
  border: 1px solid #ddd;
  width: 786px;
  margin: 0 auto;
  padding: 30px 0px;
  text-align: center;
  border-radius: 10px;
}
